<!DOCTYPE html>
<html>
<head>
  <title>ITEMS</title>
</head>
<body>
<h1>ENTER DETAILS HERE</h1>
<h5>{{msg}}</h5>
<form action="{{url_for('index')}}" method = "POST">
  <input type="name" name="item1" placeholder="Item1" >
  <input type="name" name="price1" placeholder="PRICE" ><br>
  <input type="name" name="item2" placeholder="Item1" >
  <input type="name" name="price2" placeholder="PRICE" ><br>
  <input type="name" name="item3" placeholder="Item1" >
  <input type="name" name="price3" placeholder="PRICE" ><br>
  <input type="submit" name="pay"  >
  
</form>

</body>
</html>